<!doctype html>
<html lang="zh-CN">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/styles/default.min.css">
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  </head>
  <body>
    <header class="p-3 bg-dark text-white mb-4">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <!-- <svg class="bi me-2" width="40" height="32" role="img"><use xlink:href="#bootstrap"></use></svg> -->
              <svg height="32" style="margin-bottom: .5rem;" viewBox="0 0 836 299" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M175 252.75C155.724 252.755 136.635 248.964 118.824 241.591C101.014 234.219 84.8293 223.411 71.1956 209.784C57.562 196.157 46.7461 179.978 39.3654 162.17C31.9848 144.363 28.184 125.276 28.18 106V106C28.159 85.9997 32.2433 66.208 40.18 47.85C14.7582 74.9965 0.633635 110.809 0.680015 148V148C0.690621 186.92 16.1582 224.242 43.6815 251.76C71.2048 279.277 108.53 294.737 147.45 294.74V294.74C176.118 294.741 204.16 286.348 228.114 270.599C252.068 254.849 270.888 232.431 282.25 206.11C268.539 220.838 251.938 232.581 233.485 240.606C215.032 248.63 195.122 252.764 175 252.75V252.75Z" fill="url(#paint0_linear)"/>
                <path d="M298.81 150C298.761 169.616 294.85 189.029 287.298 207.133C279.747 225.237 268.704 241.676 254.799 255.512C240.894 269.348 224.401 280.31 206.26 287.772C188.119 295.233 168.686 299.049 149.07 299C147.24 299 145.41 299 143.59 298.89C114.897 297.758 87.1386 288.382 63.6362 271.884C40.1337 255.386 21.8832 232.465 11.0691 205.865C0.254871 179.264 -2.66486 150.11 2.65933 121.893C7.98352 93.6762 21.3261 67.5911 41.09 46.76C28.3348 67.237 20.1268 90.2149 17.0213 114.139C13.9159 138.063 15.9854 162.375 23.09 185.43C23.1213 185.519 23.148 185.609 23.17 185.7C25.7166 194.614 29.2098 203.23 33.59 211.4C47.3499 237.203 69.3319 257.672 96.0487 269.56C122.766 281.448 152.687 284.074 181.066 277.022C209.445 269.969 234.657 253.642 252.701 230.631C270.745 207.62 280.589 179.242 280.67 150C280.84 77.6 222.09 18.57 149.73 18.4C129.518 18.3243 109.565 22.953 91.45 31.92L162.53 103L178.81 119.28L195 135.47V165.6C195.001 165.799 194.943 165.993 194.833 166.159C194.724 166.324 194.567 166.453 194.383 166.529C194.2 166.606 193.998 166.625 193.803 166.586C193.609 166.547 193.43 166.451 193.29 166.31L162.54 135.56L146.26 119.28L33.8 6.82999C33.2394 6.26997 32.8577 5.55604 32.7034 4.77876C32.5491 4.00149 32.6292 3.1959 32.9334 2.4642C33.2377 1.73249 33.7524 1.10765 34.4123 0.668926C35.0722 0.230206 35.8476 -0.00261761 36.64 -8.83213e-06L59.58 0.0499912L84.45 0.109991L149.77 0.269991C189.389 0.36271 227.349 16.1896 255.299 44.2691C283.249 72.3487 298.9 110.381 298.81 150Z" fill="white"/>
                <path d="M153.35 144.74L115.19 182.9C115.051 183.04 114.873 183.136 114.679 183.176C114.485 183.215 114.284 183.196 114.101 183.121C113.918 183.046 113.761 182.919 113.651 182.755C113.54 182.591 113.481 182.398 113.48 182.2V152.05L137.07 128.46L153.35 144.74Z" fill="white"/>
                <path d="M195 73V103.1L162.5 135.59L146.22 119.31L193.28 72.25C193.422 72.1024 193.605 72.0018 193.805 71.9617C194.006 71.9215 194.214 71.9439 194.401 72.0256C194.589 72.1073 194.747 72.2445 194.854 72.4188C194.961 72.593 195.012 72.7959 195 73Z" fill="white"/>
                <path d="M175.85 122.24L162.5 135.59L188.25 128.72L178.81 119.28L175.85 122.24Z" fill="url(#paint1_linear)"/>
                <path d="M441.47 177.91L439.97 175.83L384.71 99.19H356.36L413.57 178.55L353.17 262.33H381.52L427.75 198.21L473.97 262.33H502.33L441.47 177.91Z" fill="white"/>
                <path d="M499.14 99.19L479.81 125.99H451.46L470.78 99.19H499.14Z" fill="white"/>
                <path d="M643.27 122.45V99.45H562.02H550.52H539.02V261.99H562.02V192.26H616.44V169.26H562.02V122.45H643.27Z" fill="white"/>
                <path d="M775.88 181.74H749.19C741.39 181.597 733.958 178.398 728.493 172.832C723.028 167.265 719.966 159.776 719.966 151.975C719.966 144.174 723.028 136.685 728.493 131.118C733.958 125.552 741.39 122.353 749.19 122.21H805.4V99.21H749.19C735.322 99.4009 722.086 105.044 712.346 114.919C702.607 124.793 697.146 138.105 697.146 151.975C697.146 165.845 702.607 179.157 712.346 189.031C722.086 198.906 735.322 204.549 749.19 204.74H774.71C776.498 204.697 778.277 205.012 779.942 205.666C781.607 206.32 783.125 207.3 784.407 208.548C785.688 209.796 786.708 211.287 787.406 212.934C788.103 214.581 788.465 216.351 788.47 218.14V221.14C788.47 233.41 778.03 238.9 767.68 238.9H701.9V261.9H767.68C792.68 261.9 811.47 244.38 811.47 221.14V218.14C811.47 198.09 795.93 182.34 775.88 181.74Z" fill="white"/>
                <defs>
                    <linearGradient id="paint0_linear" x1="23.54" y1="47.21" x2="219.54" y2="304.21" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white" stop-opacity="0.7"/>
                        <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x1="192.86" y1="123.21" x2="162.53" y2="128.98" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#E6E6E6"/>
                        <stop offset="1" stop-color="#C9C9C9"/>
                    </linearGradient>
                </defs>
            </svg>
            <span style="margin-left: 10px;">
              Wallet-Chrome 文档
            </span>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-5">
            </ul>
            <nav class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <ul class="nav me-auto">
                <li class="nav-item">
                  <a target="_blank" href="https://github.com/xfs-network/xfswallet-chrome-docs" class="nav-link px-2 text-white">On GitHub</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <main class="container py-3">
        <div>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                教程
              </button>
              <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <% if (/^($|\/$)/.test(req.baseUrl + req.path)) { %> 
                    <li><a href="/" class="link-dark rounded active">入门</a></li>
                  <% } else { %>
                    <li><a href="/" class="link-dark rounded">入门</a></li>
                  <% } %>
                  <% if (/^\/guide\/connect-account($|\/.?)/.test(req.baseUrl + req.path)) { %> 
                    <li><a href="/guide/connect-account" class="link-dark rounded active">连接账户</a></li>
                  <% } else { %>
                    <li><a href="/guide/connect-account" class="link-dark rounded">连接账户</a></li>
                  <% } %>
                  <% if (/^\/guide\/send-transfer($|\/.?)/.test(req.baseUrl + req.path)) { %> 
                    <li><a href="/guide/send-transfer" class="link-dark rounded active">发送转账交易</a></li>
                  <% } else { %>
                    <li><a href="/guide/send-transfer" class="link-dark rounded">发送转账交易</a></li>
                  <% } %>
                  <% if (/^\/guide\/send-transaction($|\/.?)/.test(req.baseUrl + req.path)) { %> 
                    <li><a href="/guide/send-transaction" class="link-dark rounded active">发送交易</a></li>
                  <% } else { %>
                    <li><a href="/guide/send-transaction" class="link-dark rounded">发送交易</a></li>
                  <% } %>
                  <% if (/^\/guide\/create-token($|\/.?)/.test(req.baseUrl + req.path)) { %> 
                    <li><a href="/guide/create-token" class="link-dark rounded active">创建通证代币</a></li>
                  <% } else { %>
                    <li><a href="/guide/create-token" class="link-dark rounded">创建通证代币</a></li>
                  <% } %>
                  <% if (/^\/guide\/create-nft($|\/.?)/.test(req.baseUrl + req.path)) { %> 
                    <li><a href="/guide/create-nft" class="link-dark rounded active">创建 NFT 资产</a></li>
                  <% } else { %>
                    <li><a href="/guide/create-nft" class="link-dark rounded">创建 NFT 资产</a></li>
                  <% } %>
                  <!-- 
                    <% if (/^\/guide\/create-token($|\/.?)/.test(req.baseUrl + req.path)) { %> 
                    <li><a href="/guide/create-token" class="link-dark rounded active">创建通证</a></li>
                  <% } else { %>
                    <li><a href="/guide/create-token" class="link-dark rounded">创建通证</a></li>
                  <% } %>
                  <% if (/^\/guide\/create-nft($|\/.?)/.test(req.baseUrl + req.path)) { %> 
                    <li><a href="/guide/create-nft" class="link-dark rounded active">创建 NFT</a></li>
                  <% } else { %>
                    <li><a href="/guide/create-nft" class="link-dark rounded">创建 NFT</a></li>
                  <% } %> 
                -->
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div style="margin-left: 60px; flex: 1;">