<%- include('header'); -%>
<div>
  <style rel="stylesheet">
  </style>
  <div class="outer" style="height: 100px; background-color: brown;line-height: 100px;">
    <span>a</span>
    <span>b</span>
    <span>d</span>
  </div>
</div>
<%- include('footer'); -%>