<%- include('header'); -%> 
<h1 class="mb-4">Transactions</h1> 
<div class="card">
    <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Height</th>
                <th scope="col">Time</th>
                <th scope="col">Transactions</th>
                <th scope="col">Size</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                    <a href="#">
                        10
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        9
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        8
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        7
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        6
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        5
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        4
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        3
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        2
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
              <tr>
                <th>
                    <a href="#">
                        1
                    </a>
                </th>
                <td>10 secs ago</td>
                <td>10</td>
                <td>10 Byte</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>
        <ul class="pagination m-0 ms-auto">
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    First
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item disabled">
                <span class="page-link">
                    <span aria-hidden="true">Page 1 of 123434</span>
                </span>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            <li class="page-item"><a class="page-link" href="#">Last</a></li>
          </ul>
      </div>
  </div>
<%- include('footer'); -%>